version: "3.9"

services:
  postgres:
    image: postgres:15
    container_name: saas_postgres
    restart: always
    environment:
      POSTGRES_USER: saas_user
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: saas_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: saas_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  pgdata:
